.hero-bg {
    background-image: url('/templates/travel/uplaods/kalle-kortelainen-6F-uGWod7Xk-unsplash.jpg');
    background-size: cover;
    background-position: center;
  }
  body{
    font-family: "Poppins", serif;

  }