* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.hero-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
}

.des{
    display: flex;
    text-align: center;
    padding: 20px 0;
}
.des p {
    width: 39rem;
    font-size: 18px;
    line-height: 30px;
}
.hero-txt h1{
    font-size: 40px;
}
.btn button {
    width: 140px;
    height: 54px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: cornflowerblue;
    color: whitesmoke;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .des p{
        width: 90%;
        align-items: center;
        text-align: center;
    }
}