.wrap-footer {
    display: flex
;
    justify-content: space-between;
    background: #2F4150;
    color: whitesmoke;
    padding: 30px 28px;

}
.footer {
    padding: 91px 0;
    width: 100%;
}
.rhs {
    line-height: 14px;
}
@media screen and (max-width: 768px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
    .wrap-footer{
        flex-direction: column;
        gap: 12px;
    }
}