*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", serif;
}
.contanier{
    background-color: #e8e8e8;
    padding: 25px 12px;
}
span{
    font-weight: bold;
}
.lists{
    display: flex;
    flex-direction: column;
    padding: 12px 12px;
    line-height: 30px;
}